[Unit]
Description=Kibana4 ElasticSearch GUI
Requires=network.target
After=network.target

[Service]
Type=simple
PIDFile=/var/run/kibana.pid
EnvironmentFile=/etc/sysconfig/kibana
User=kibana
WorkingDirectory=/usr/share/kibana
ExecStart=/usr/bin/node src/bin/kibana.js
SuccessExitStatus=143
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
